.App {
    overscroll-behavior: contain;
    scroll-behavior: smooth;
    width: 100vw;
    height: inherit;
    display: grid;
    /* grid-template-columns: repeat(9, 100vw); */
    overflow-y: hidden;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

@media only screen and (min-width: 992px) {
    .App {
        grid-template-areas:
            "Int Prj . . ."
            ". Crt Exp . ."
            ". . Awd 6 ."
            ". . . 7 8"
            "0 . . . 9"
        ;
        overflow-x: hidden;
    }

    #Intro {
        grid-area: Int;
    }


    #Projects {
        grid-area: Prj;
    }


    #Certs {
        grid-area: Crt;
    }


    #Experience {
        grid-area: Exp;
    }


    #Awards {
        grid-area: Awd;
    }


    /* #vp6 {
        grid-area: vp6;
    } */
}